body{
    margin: 0;
}
.title1{
    background-color: grey;
    font-family: 'Courier New';
    font-size: 0.6em;
    color: white;
}
.subtitle1{
    background-color: bisque;
    font-family: Arial;
    font-size: 0.4em;
    color: black;
}
.title2{
    background-color: grey;
    font-family: Impact;
    font-size: 0.8em;
    color: white;
}
.subtitle2{
    background-color: bisque;
    font-family: 'Times New Roman';
    font-size: 0.7em;
    color: black;
}
hr{
    border-bottom: 1px solid red;
    width: 33%;
}
tr:nth-child(even){
    background-color: bisque;
    font-family: 'Times New Roman';
    font-size: 0.7em;
    color: black;
}
tr:nth-child(odd){
    background-color: grey;
    font-family: Impact;
    font-size: 0.8em;
    color: white;
}
