body {
    background-image: url(photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1em 10% 0 10%;
    cursor: url("icons8-rocket-32.png"), auto;
}

.title {
    text-align: center;
    font-family: Georgia;
}

header {
    text-align: center;
}

li.subtitle {
    margin-right: 15px;
    border-radius: 10px;
    display: inline-block;
    width: 110px;
    height: 20px;
    border: 1px;
    background-color: rgb(44, 212, 224);
    padding: 7px;
    color: white;
}

li.subtitle:hover {
    background-color: rgb(26, 176, 186);
}

.diora-salihu {
    text-align: center;
    width: auto;
    height: auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(51deg, rgba(255, 255, 255, 1) 0%, rgba(255, 191, 191, 1) 100%);
    border-radius: 20px;

}

.diora-salihu:hover {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 183, 183, 1) 100%);
    border: 3px solid black;
}

.education {
    text-align: center;
    width: auto;
    height: 180px;
    background: linear-gradient(51deg, rgba(255, 255, 255, 1) 0%, rgba(201, 188, 180, 1) 100%);
    border-radius: 20px;
}

.education:hover {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 215, 191, 1) 100%);
    border: 3px solid black;
}

.my-skills {
    text-align: center;
    width: auto;
    height: 140px;
    background: rgb(224, 207, 188);
    background: linear-gradient(297deg, rgba(224, 207, 188, 1) 0%, rgba(235, 217, 195, 1) 100%, rgba(230, 255, 183, 1) 100%);
    border-radius: 20px;
}

.my-skills:hover {
    background: rgb(226, 211, 194);
    background: radial-gradient(circle, rgba(226, 211, 194, 1) 0%, rgba(249, 232, 222, 1) 0%, rgba(235, 217, 195, 1) 100%);
    border: 3px solid black;
}

table {
    margin-left: 15px;
    border-collapse: collapse;
}

.my-projects {
    text-align: center;
    width: auto;
    height: 180px;
    background: rgb(223, 194, 226);
    background: radial-gradient(circle, rgba(223, 194, 226, 1) 0%, rgba(240, 233, 241, 1) 0%, rgba(232, 212, 235, 1) 88%, rgba(228, 195, 235, 1) 100%);
    border-radius: 20px;
}

.my-projects:hover {
    background: rgb(223, 194, 226);
    background: linear-gradient(297deg, rgba(223, 194, 226, 1) 0%, rgba(240, 233, 241, 1) 0%, rgba(232, 197, 238, 1) 88%, rgba(228, 195, 235, 1) 100%);
    border: 3px solid black;
}

.last {
    border: 1px;
    width: 895px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.703);
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 8px;
}

.text::marker {
    position: absolute;
}
.icon{
    position: relative;
    bottom: 0%;
}
.description {
    color: grey;
}

.description1 {
    width: auto;
    height: auto;
    border: 1px solid white;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.description3 {
    width: auto;
    height: auto;
    border: 1px solid white;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.the-projects {
    text-align: left;
}

button {
    font-size: 8px;
    width: 17px;
    height: 17px;
    border: 1px solid rgb(247, 101, 48);
    background-color: rgb(247, 101, 48);
    color: white;
    position: relative;
    bottom: 10px;
    cursor: url("icons8-rocket-32.png"), auto;
}

.project-1 {
    width: auto;
    height: auto;
    background-color: rgb(230, 226, 235);
}

.project-1:hover {
    border: 5px solid rgb(224, 179, 244);
}

.project-2 {
    width: auto;
    height: auto;
    background-color: rgb(235, 217, 237);
}

.project-2:hover {
    border: 5px solid rgb(204, 134, 134);
}

.project-3 {
    width: auto;
    height: auto;
    background-color: rgb(243, 227, 185);
}

.project-3:hover {
    border: 5px solid rgb(202, 167, 110);
}

.message {
    font-size: 12px;
    width: 100px;
    height: 30px;
    border: 1px;
    background-color: bisque;
    color: rgb(0, 0, 0);
}

.message:hover {
    background-color: rgb(227, 151, 43);
}

.contact-form {
    width: auto;
    height: auto;
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    text-align: center;
}

.contact-form:hover {
    background-color: rgb(88, 88, 110);
    color: white;
}

.connect {
    width: auto;
    height: auto;
    background-color: beige;
    text-align: center;
}

.connect:hover {
    text-decoration-line: underline;
    border: 2px solid green;
}

.back:hover:first-letter {
    font-size: 40px;
}

.the-color {
    color: white;
    cursor: url("icons8-rocket-32.png"), auto;
}